:root{
    --white : #fff;
    --grey : rgb(240, 240, 240);
    --text : #289672;
    --dark-text : #1E6F5C;
}
html{
    scroll-behavior: smooth;
}

body{
    background-image: url('../images/Hexagon.svg');
    font-family: "Poppins";
    font-size: 14px;
    font-size: 400;
    color: var(--text);
    margin: 0;
    padding: 0;
    line-height: 1.4;
    letter-spacing: 1.5px;
}

h1, h2, h3, h4, h5, h6, p, ul, address {
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 2px;
}

a{
    text-decoration: none;
}

/* Navigation Bar */

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
    transition: all .6s;
}

.menu{
    display: flex;
    width: 70vw;
    justify-content: space-around;
}

.toggle{
    display: none;
}

header .logo {
    color: var(--text);
    font-size: 32px;
    margin-left: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 800;
    transition: all 1s; 
}

.logo:hover{
    color: var(--dark-text);
    letter-spacing: 3px;
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
    margin: 0px 3px;
}

header ul li a{
    position: relative;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: var(--text);
    padding: 5px 5px 5px 5px;
    margin: 0 10px;
    font-weight: 400;
    border-radius: 2px;
}

header ul li a::before{
    content:'';
    position: absolute;
    width: 0%;
    height: 6%;
    bottom: 0;
    left:0;
    border-radius: 1px;
    z-index: -1;
    transition: all .4s;

}

header ul li a:hover::before{
    width: 100%;
    background-color: var(--dark-text);
}

/* li a:hover{
    color: var(--white);
} */


li .active{
    background-color: #bb9f3a;
    color: black;
}


/* Home Screen */

#home{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    flex: 3;
}
.slider{
    height: 100%;
    position: relative;
    margin: auto;
}

.slider-content{
    color:  var(--text);
    display: none;
}

.slider-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    text-align: center;
}

.content h1{
    text-transform: uppercase;
    font-size: 32px;
}

.content p{
    font-size: 18px;
}

.btn-register{
    width: 40%;
    color: var(--white);
    background-color: var(--text);
    font-weight: 600;
    margin: 2vh 2vh 5vh 0;
    transition: all .5s;
}

.btn-register:hover{
    cursor: pointer;
    background-color: var(--dark-text);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }
  
  @-webkit-keyframes fade {
    0%{ 
        transform: translateX(-100%); 
    }
    100%{ 
        transform: translateX(0%); 
    }
  }
  
  @keyframes fade {
    0%{ 
        transform: translateX(-100%); 
    }
    100%{
        transform: translateX(0%); 
    }
    /* 0%{opacity: 0}
    10%{opacity: .1;}
    20%{opacity: .2;}
    30%{opacity: .3;}
    40%{opacity: .4;}
    50%{opacity: .5}
    100%{opacity: 1;} */
  }

  /* Home Right Side */

.right-side{
    height: auto;
    position: relative;
    margin: auto;
    color: white;
}

.image-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
    text-align: center;
}

.image-content .content img{
    height: 30vw;
    width: auto;
    border-radius: 10px;
    opacity: 1;
    transition: all 2s;
}

.image-content .content img:hover{
    opacity: 0;
}

/* About Section*/

#aboutus{
    position: relative;
    padding: 2vw 0;
    height: auto;
}

#aboutus h1{
    width: fit-content;
    display: block;
    margin: 5vw 0 0 5vw;
    font-size: 32px;
    text-transform: uppercase;
}

#aboutus h1:after{
    content: " ";
    border-bottom-style: solid;
    border-bottom-width:3px;
    display:block;
    width:auto;
  }

#aboutus .aboutus{
    display: flex;
    flex: 2;
}

#aboutus .aboutus .left{
    flex: 1;
}

#aboutus .aboutus .left h4{
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
    padding: 0 1vw 0 0vw;
    margin: 2vw 0 0 5vw;
    text-align: justify;
}

#aboutus .aboutus .right{
    flex: 1;
}

#aboutus .aboutus .right .row{
    display: flex;
    justify-content: center;
}

#aboutus .aboutus .right .card{
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    background-color: var(--white);
    padding: 2vw;
    margin: 10px;
    border-radius: 2px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    transition: ease-in .3s;
}

#aboutus .aboutus .right .card:hover{
    background-color: var(--dark-text);
    color: var(--white);
}

#aboutus .aboutus .right .card h2{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#aboutus .aboutus .right .card p{
    text-align: center;
}


/* Brand Section */
#brands{
    display: flex;
    height: 100vh;
}

#brands h1{
    margin: 5vw 0 0 5vw;
    font-size: 32px;
    text-transform: uppercase;
}

#brands h1:after{
    content: " ";
    border-bottom-style: solid;
    border-bottom-width:3px;
    display:block;
    width:auto;
}

/* Reaction Section */
#reaction{
    display: flex;
    height: 100vh;
}

#reaction h1{
    margin: 5vw 0 0 5vw;
    font-size: 32px;
    text-transform: uppercase;
}

#reaction h1:after{
    content: " ";
    border-bottom-style: solid;
    border-bottom-width:3px;
    display:block;
    width:auto;
}

/* Feedback Section */
#feedback{
    display: flex;
    height: 100vh;
}

#feedback h1{
    margin: 5vw 0 0 5vw;
    font-size: 32px;
    text-transform: uppercase;
}

#feedback h1:after{
    content: " ";
    border-bottom-style: solid;
    border-bottom-width:3px;
    display:block;
    width:auto;
}

/* Footer */

#footer{
    height: auto;
    padding: 2vw 0;
    background: var(--dark-text);  /* fallback for old browsers */
}

#footer .footer{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1vw 2vw 2vw 2vw;
}

#footer .links{
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
}

#footer .links h1,.social-media h1{
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 15px 0;
    font-weight: 600;
}

#footer .links ul{
    padding: 0;
}

#footer .links ul li{
    list-style: none;
    margin: 4px;
}

#footer .links ul a{
    color: var(--grey);
    text-decoration: none;
}

#footer .links ul a:hover{
    font-weight: 400;
    color: var(--white);

}

#footer .social-media h1{
    margin-left: 12px;
}

#footer .end-line{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 6vw;
}

#footer .end-line p{
    margin: 0;
    color: white;
}

#footer .end-line a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon i{
    color: var(--white);
    font-size: 22px;
    padding: 10px 15px;
}

.social-icon .fa:hover{
    background-color: var(--grey);
    border-radius: 4px;
}

.social-icon .fa-facebook:hover{
    color: #3b5998;
}

.social-icon .fa-instagram:hover{
    color: #cd486b;
}

.social-icon .fa-telegram:hover{
    color: #0088cc;
}

.social-icon .fa-youtube:hover{
    color: #ff0000;
}