:root{
    --white : #fff;
    --grey : rgb(240, 240, 240);
    --text : #289672;
    --dark-text : #1E6F5C;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins";
    font-size: 14px;
    font-size: 400;
    background-color: white;
    margin: 0;
    padding: 0;
}

.btn{
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    border-radius: 2px;
}

a{
    text-decoration: none;
}

/* Navigation Bar */

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: transparent;
    transition: all .6s;
}

.menu{
    display: flex;
    width: 70vw;
    justify-content: space-around;
}

.toggle{
    display: none;
}

header .logo {
    color: var(--text);
    font-size: 32px;
    margin-left: 10px;
    padding: 5px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.5px;
    font-weight: 800;
    transition: all 1s; 
}

.logo:hover{
    color: var(--dark-text);
    letter-spacing: 3px;
}
header ul{
    position: relative;
    display: flex;
}

header ul li{
    position: relative;
    list-style: none;
    margin: 0px 3px;
}

header ul li a{
    position: relative;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    color: var(--text);
    padding: 5px 5px 5px 5px;
    margin: 0 10px;
    font-weight: 400;
    border-radius: 2px;
}

header ul li a::before{
    content:'';
    position: absolute;
    width: 0%;
    height: 6%;
    bottom: 0;
    left:0;
    border-radius: 1px;
    z-index: -1;
    transition: all .4s;

}

header ul li a:hover::before{
    width: 100%;
    background-color: var(--dark-text);
}

/* li a:hover{
    color: var(--white);
} */


li .active{
    background-color: #bb9f3a;
    color: black;
}


/* Home Screen */

#home{
    position: relative;
    height: auto;
    display: flex;
    flex-direction: row;
    flex: 3;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1259%26quot%3b)' fill='none'%3e%3cpath d='M25.21 -48.26L73.71 -20.26L73.71 35.74L25.21 63.74L-23.29 35.74L-23.29 -20.26zM73.71 203.74L122.21 231.74L122.21 287.74L73.71 315.74L25.21 287.74L25.21 231.74zM73.71 371.74L122.21 399.74L122.21 455.74L73.71 483.74L25.21 455.74L25.21 399.74zM25.21 455.74L73.71 483.74L73.71 539.74L25.21 567.74L-23.29 539.74L-23.29 483.74zM73.71 539.74L122.21 567.74L122.21 623.74L73.71 651.74L25.21 623.74L25.21 567.74zM122.21 -48.26L170.71 -20.26L170.71 35.74L122.21 63.74L73.71 35.74L73.71 -20.26zM170.71 35.74L219.21 63.74L219.21 119.74L170.71 147.74L122.21 119.74L122.21 63.74zM122.21 119.74L170.71 147.74L170.71 203.74L122.21 231.74L73.71 203.74L73.71 147.74zM122.21 455.74L170.71 483.74L170.71 539.74L122.21 567.74L73.71 539.74L73.71 483.74zM219.21 -48.26L267.7 -20.26L267.7 35.74L219.21 63.74L170.71 35.74L170.71 -20.26zM267.7 35.74L316.2 63.74L316.2 119.74L267.7 147.74L219.21 119.74L219.21 63.74zM219.21 119.74L267.7 147.74L267.7 203.74L219.21 231.74L170.71 203.74L170.71 147.74zM267.7 371.74L316.2 399.74L316.2 455.74L267.7 483.74L219.21 455.74L219.21 399.74zM219.21 455.74L267.7 483.74L267.7 539.74L219.21 567.74L170.71 539.74L170.71 483.74zM364.7 371.74L413.2 399.74L413.2 455.74L364.7 483.74L316.2 455.74L316.2 399.74zM413.2 -48.26L461.7 -20.26L461.7 35.74L413.2 63.74L364.7 35.74L364.7 -20.26zM461.7 371.74L510.2 399.74L510.2 455.74L461.7 483.74L413.2 455.74L413.2 399.74zM558.7 203.74L607.2 231.74L607.2 287.74L558.7 315.74L510.2 287.74L510.2 231.74zM558.7 539.74L607.2 567.74L607.2 623.74L558.7 651.74L510.2 623.74L510.2 567.74zM607.2 -48.26L655.69 -20.26L655.69 35.74L607.2 63.74L558.7 35.74L558.7 -20.26zM655.69 35.74L704.19 63.74L704.19 119.74L655.69 147.74L607.2 119.74L607.2 63.74zM655.69 539.74L704.19 567.74L704.19 623.74L655.69 651.74L607.2 623.74L607.2 567.74zM704.19 119.74L752.69 147.74L752.69 203.74L704.19 231.74L655.69 203.74L655.69 147.74zM752.69 203.74L801.19 231.74L801.19 287.74L752.69 315.74L704.19 287.74L704.19 231.74zM704.19 287.74L752.69 315.74L752.69 371.74L704.19 399.74L655.69 371.74L655.69 315.74zM752.69 371.74L801.19 399.74L801.19 455.74L752.69 483.74L704.19 455.74L704.19 399.74zM704.19 455.74L752.69 483.74L752.69 539.74L704.19 567.74L655.69 539.74L655.69 483.74zM849.69 35.74L898.19 63.74L898.19 119.74L849.69 147.74L801.19 119.74L801.19 63.74zM849.69 203.74L898.19 231.74L898.19 287.74L849.69 315.74L801.19 287.74L801.19 231.74zM801.19 287.74L849.69 315.74L849.69 371.74L801.19 399.74L752.69 371.74L752.69 315.74zM801.19 455.74L849.69 483.74L849.69 539.74L801.19 567.74L752.69 539.74L752.69 483.74zM898.19 287.74L946.69 315.74L946.69 371.74L898.19 399.74L849.69 371.74L849.69 315.74zM946.69 371.74L995.19 399.74L995.19 455.74L946.69 483.74L898.19 455.74L898.19 399.74zM995.19 287.74L1043.68 315.74L1043.68 371.74L995.19 399.74L946.69 371.74L946.69 315.74zM1043.68 539.74L1092.18 567.74L1092.18 623.74L1043.68 651.74L995.19 623.74L995.19 567.74zM1140.68 539.74L1189.18 567.74L1189.18 623.74L1140.68 651.74L1092.18 623.74L1092.18 567.74zM1189.18 287.74L1237.68 315.74L1237.68 371.74L1189.18 399.74L1140.68 371.74L1140.68 315.74zM1286.18 -48.26L1334.68 -20.26L1334.68 35.74L1286.18 63.74L1237.68 35.74L1237.68 -20.26zM1334.68 371.74L1383.18 399.74L1383.18 455.74L1334.68 483.74L1286.18 455.74L1286.18 399.74zM1383.18 -48.26L1431.68 -20.26L1431.68 35.74L1383.18 63.74L1334.68 35.74L1334.68 -20.26zM1431.68 203.74L1480.17 231.74L1480.17 287.74L1431.68 315.74L1383.18 287.74L1383.18 231.74zM1383.18 455.74L1431.68 483.74L1431.68 539.74L1383.18 567.74L1334.68 539.74L1334.68 483.74z' stroke='rgba(30%2c 111%2c 92%2c 0.12)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1259'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.slider{
    height: 100%;
    position: relative;
    margin: auto;
}

.slider-content{
    color:  var(--text);
    display: none;
}

.slider-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    text-align: center;
}

.content h1{
    font-size: 32px;
}

.content p{
    font-size: 18px;
}

.btn-register{
    width: 40%;
    color: var(--white);
    background-color: var(--text);
    font-weight: 600;
    margin: 2vh 2vh 5vh 0;
    transition: all .5s;
}

.btn-register:hover{
    cursor: pointer;
    background-color: var(--dark-text);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: .8s;
    animation-name: fade;
    animation-duration: .8s;
  }
  
  @-webkit-keyframes fade {
    from{
        opacity: 0;
        transform: scale(.2);
    }

    to{
        opacity: 1;
    }
  }
  
  @keyframes fade {
    from{
        opacity: 0;
        transform: scale(.2);
    }

    to{
        opacity: 1;
    }
    /* 0%{opacity: 0}
    10%{opacity: .1;}
    20%{opacity: .2;}
    30%{opacity: .3;}
    40%{opacity: .4;}
    50%{opacity: .5}
    100%{opacity: 1;} */
  }

  /* Home Right Side */

.right-side{
    height: auto;
    position: relative;
    margin: auto;
    color: white;
}

.image-content .content{
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10vw;
    text-align: center;
}

.image-content .content img{
    height: 30vw;
    width: auto;
    border-radius: 10px;
    opacity: 1;
    transition: all 2s;
}

.image-content .content img:hover{
    opacity: 0;
}

/* Brand Section*/

#brands{
    height: 100vh;
}

#aboutus{
    height: 100vh;
}

#reaction{
    height: 100vh;
}

/* Footer */

#footer{
    height: auto;
    background: var(--text);  /* fallback for old browsers */
}

#footer .footer{
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    padding: 1vw 2vw 2vw 2vw;
}

#footer .links{
    display: flex;
    flex-direction: column;
    padding: 0 3vw;
}
#footer .links ul{
    padding: 0;
}

#footer .links ul li{
    list-style: none;
    margin: 4px;
}

#footer .links ul a{
    color: var(--grey);
    text-decoration: none;
}

#footer .links ul a:hover{
    font-weight: 400;
    color: var(--white);

}

#footer .social-media h1{
    margin-left: 12px;
}

#footer .end-line{
    display: flex;
    justify-content: center;
    padding: 10px 10px 10px 6vw;
}

#footer .end-line p{
    margin: 0;
    color: white;
}

#footer .end-line a{
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon i{
    color: var(--white);
    font-size: 22px;
    padding: 10px 15px;
}

.social-icon .fa:hover{
    background-color: var(--grey);
    border-radius: 4px;
}

.social-icon .fa-facebook:hover{
    color: #3b5998;
}

.social-icon .fa-instagram:hover{
    color: #cd486b;
}

.social-icon .fa-telegram:hover{
    color: #0088cc;
}

.social-icon .fa-youtube:hover{
    color: #ff0000;
}